#post-container{
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 15px;
}

#post-image{
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

#post-title{
  font-family: 'Palanquin', sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 5px
}

#post-date{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: grey;
}

#post-content{
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
}

#post-link a:link{
  font-weight: 300;
  text-decoration: none;
}
